MelenappApi/obj/MelenappApi.csproj.nuget.dgspec.json
MelenappApi/obj/MelenappApi.csproj.nuget.g.props
MelenappApi/obj/MelenappApi.csproj.nuget.g.targets
MelenappApi/obj/project.assets.json
MelenappApi/obj/project.nuget.cache
MelenappApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MelenappApi/obj/Debug/net8.0/MelenappApi.AssemblyInfo.cs
MelenappApi/obj/Debug/net8.0/MelenappApi.AssemblyInfoInputs.cache
MelenappApi/obj/Debug/net8.0/MelenappApi.assets.cache
MelenappApi/obj/Debug/net8.0/MelenappApi.csproj.AssemblyReference.cache
MelenappApi/obj/Debug/net8.0/MelenappApi.GeneratedMSBuildEditorConfig.editorconfig
MelenappApi/obj/Debug/net8.0/MelenappApi.GlobalUsings.g.cs
melenapp-pwa/build/asset-manifest.json
melenapp-pwa/build/favicon.ico
melenapp-pwa/build/index.html
melenapp-pwa/build/logo192.png
melenapp-pwa/build/logo512.png
melenapp-pwa/build/manifest.json
melenapp-pwa/build/robots.txt
melenapp-pwa/build/service-worker.js
melenapp-pwa/build/service-worker.js.map
melenapp-pwa/build/static/js/main.08d0c3c0.js
melenapp-pwa/build/static/js/main.08d0c3c0.js.LICENSE.txt
melenapp-pwa/build/static/js/main.08d0c3c0.js.map
.DS_Store
